<header class="header">
    <div class="header__logo-container">
        <div class="header__logo">
            <img (click)="navigateTo('', false)" src="assets/images/mogi-em-alerta-logo.png" alt="Logo" class="header__logo-image">
        </div>
    </div>
    
    <nav class="header__categories">
        <ul>
          <li *ngFor="let category of categories" class="header__category">
            <a (click)="navigateTo(category.route, false)" class="header__category-link">
              <span class="header__category-pipe">|</span>{{ category.name }}<span class="header__category-pipe">|</span>
            </a>
            <ul *ngIf="category.subcategories" class="header__subcategory-list">
              <li *ngFor="let sub of category.subcategories" class="header__subcategory-item">
                <a (click)="navigateTo(sub.route, false)" class="header__subcategory-link">
                  {{ sub.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
    </nav>
    
    <div class="header__date-and-search">
        <div class="header__datetime">
            {{ currentDateTime }}
        </div>
        <div class="header__search-container">
            <input
                id="search-box"
                class="header__search"
                type="text"
                placeholder="Buscar notícias..."
                [(ngModel)]="searchQuery"
                (input)="filterNoticias()"
            />
            <ul *ngIf="filteredNoticias.length > 0" class="header__dropdown">
                <li *ngFor="let noticia of filteredNoticias" class="header__dropdown-item" (click)="navigateToNoticia(noticia)">
                {{ noticia.headline }}
                </li>
            </ul>
            <span class="material-icons" (click)="focusOnSearch()">search</span>
            <span class="material-icons header__menu-icon" (click)="toggleMenu()">menu</span>

            <nav class="header__hamburger-menu" *ngIf="isMenuOpen">
                <ul>
                    <div class="header__social-icons">
                        <a href="https://www.facebook.com/mogiemalerta" target="_blank" class="fab fa-facebook-f"></a>
                        <a href="https://www.instagram.com/mogiemalerta/" target="_blank" class="fab fa-instagram"></a>
                        <a href="https://api.whatsapp.com/send/?phone=5511942430240" target="_blank" class="fab fa-whatsapp"></a>
                        <!--<a href="mailto:#" class="fas fa-envelope"></a> -->
                    </div>
                    <hr style="border: 1px solid #434343; margin: 20px 0; width: 100%;">
                    <li><a (click)="navigateTo('', true)">Início</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/geral', true)">Geral</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/mogi', true)">Mogi das Cruzes</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/suzano', true)">Suzano</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/poa', true)">Poá</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/itaqua', true)">Itaquaquecetuba</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/aruja', true)">Arujá</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/guararema', true)">Guararema</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/biritiba', true)">Biritiba Mirim</a></li>

                    <li><a (click)="navigateTo('noticia-categoria/emprego', true)">Emprego</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/achadosperdidos', true)">Achados e Perdidos</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/anuncios', true)">Produtos e Serviços</a></li>
                    <li><a (click)="navigateTo('noticia-categoria/reclamacoes', true)">Reclamações</a></li>
                    
                    <li><a (click)="navigateTo('sobre', true)">Sobre Nós</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
