.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  background-color: #1e3a8a;
  max-height: 4rem;
}

.header__logo-container {
  display: block;
  cursor: pointer;
  width: 15%;
}

.header__logo {
  font-weight: bold;
  display: flex;
}

.header__logo-image {
  margin: 0 auto;
  background-color: #1e3a8a;
  height: 6rem;
  width: auto;
  margin-top: 0px;
}

.header__logo-text {
  color: #012448;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 0.5rem;
}

.header__logo-text-bws {
  font-size: 3rem;
  line-height: 1;
}

.header__social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__social-icons a:hover .header__social-icons-x {
  fill: gray;
}

.header__social-icons a {
  margin-top: 1rem;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header__date-and-search {
  display: block;
  margin-right: 2.5rem;
  width: 16%;
}

.header__datetime {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.header__search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.header__search {
  background-color: white;
  color: #012448;
  border: 0.1rem solid #000;
  padding: 0.3rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 1.8rem;
}

.material-icons {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  margin-left: 0.5rem;
}

.header__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 0.1rem solid #ccc;
  width: 100%;
  max-height: 18rem;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__dropdown-item {
  color: black;
  padding: 0.625rem;
  cursor: pointer;
  border-bottom: 0.1rem solid #f0f0f0;
}

.header__dropdown-item:hover {
  background: #f9f9f9;
}

.header__categories {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.header__categories ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header__categories li {
  list-style-type: none;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header__category {
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.header__category-pipe {
  color: gray;
}

.header__category-link:hover {
  color: #0052cc;
}

a {
  text-decoration: none;
  color: #fff;
}

.header__subcategory-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  min-width: 12rem;
}

.header__subcategory-item {
  padding: 1rem;
  text-align: center;
  border-bottom: 0.0625rem solid #f0f0f0;
}

.header__subcategory-link {
  color: #012448;
}

.header__subcategory-link:hover {
  color: gray;
}

.header__category:hover .header__subcategory-list {
  display: block;
  opacity: 1;
}

.header__menu-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  margin-left: 1rem;
}

.header__hamburger-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: #012448;
  width: 12rem;
  border: 0.0625rem solid black;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 10;
}

.header__hamburger-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__hamburger-menu li {
  padding: 0.7rem 0;
  text-align: center;
}

.header__hamburger-menu a {
  cursor: pointer;
  text-decoration: none;
  color: #012448;
}

.header__hamburger-menu a:hover {
  color: gray;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .header__logo-container {
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    width: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .header__logo-image {
    height: 4rem;
    width: auto;
  }

  .header__logo-text-bws {
    font-size: 2rem;
  }

  .header__logo-text {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .header__date-and-search {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__datetime {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
    width: 90%;
  }

  .header__search-container {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .header__search {
    width: 100%;
    margin-right: 0.5rem;
    height: 1.2rem;
  }

  .header__menu-icon {
    margin-left: auto;
  }

  .header__categories {
    display: none;
  }

  .header__dropdown {
    font-size: 0.8rem;
  }

  .header__social-icons a {
    font-size: 1rem;
  }

  .header__hamburger-menu {
    max-width: 6rem;
  }

  .header__hamburger-menu li {
    padding: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
