<article class="news">
  <div *ngIf="noticia.imagePath && noticia.imagePath.trim() !== ''; else semImagem">
    <img [src]="noticia.imagePath" [alt]="noticia.headline" class="news__image" />
  </div>
  <ng-template #semImagem>
    <span class="news__image">I</span>
  </ng-template>
  <div class="news__content">
    <h3 class="news__headline">{{ noticia.headline }}</h3>
    <p class="news__subtitle">{{ noticia.subtitle }}</p>
    <p class="news__date">{{ noticia.date | date: 'dd/MM/yyyy' }}</p>
  </div>
</article>
