.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    width: 98%;
    padding: 0.6rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    max-height: 25rem;
    min-height: 25rem;
}

.news:hover {
    transform: scale(1.025);
}

.news__image {
    width: 100%;
    max-width: 15rem;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.news__content {
    text-align: center;
}

.news__headline {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.news__subtitle {
    font-size: 1rem;
    color: #666;
    text-align: center;
    hyphens: auto;
    margin: 0;
}

.news__date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 0rem;
}


@media (max-width: 768px) {
    .news {
        display: flex;
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        width: 100%; /* Ajusta a largura para ocupar o espaço disponível */
        padding: 0.5rem; /* Margem interna */
        height: auto;
        margin: 0; /* Remove margens externas extras */
        box-sizing: border-box; /* Inclui padding na largura/altura */
        max-height: 20rem;
        min-height: 20rem;
    }

    .news__image {
        width: 13rem; /* Largura fixa */
        height: 13rem; /* Altura fixa */
        margin-bottom: 0.5rem; /* Espaçamento inferior */
        border-radius: 0.5rem; /* Arredondamento */
        background-color: #e0e0e0; /* Cor de fundo para teste */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news__headline {
        font-size: 1.3rem; /* Tamanho maior para o título */
        font-weight: bold;
        text-align: center; /* Centraliza o texto */
        margin: 0.5rem 0; /* Margem superior e inferior */
        color: #000; /* Cor do título */
    }

    .news__subtitle {
        display: none; /* Esconde o subtítulo */
        margin: 0; /* Remove margens */
        padding: 0; /* Remove paddings */
    }

    .news__date {
        font-size: 0.7rem; /* Tamanho menor para a data */
        text-align: center; /* Centraliza o texto */
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: #999; /* Cor da data */
        padding: 0;
    }
}
