.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.confirm-box {
  background: #fff;
  padding: 1.25rem 1.5625rem;
  border-radius: 0.5rem;
  max-width: 21.875rem;
  width: 90%;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirm-buttons {
  margin-top: 0.9375rem;
  display: flex;
  justify-content: space-evenly;
}

.confirm-yes {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.confirm-no {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .confirm-box {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .confirm-yes,
  .confirm-no {
    font-size: 0.8rem;
  }
}
