<div class="login-container">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <h2>Login</h2>
      <span *ngIf="portfolio">Utilize as credenciais de teste para entrar <br><strong>Login</strong>: admin<br><strong>Senha</strong>: admin123<br><br></span>
      <div class="form-group">
        <label for="username">Usuário</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Entrando...' : 'Login' }}
      </button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>  

<app-spinner [isLoading]="isLoading"></app-spinner>