.sobre {
  margin-top: 2rem;
}

.sobre__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.sobre__main {
  text-align: center;
}

.sobre__logo-container {
  display: block;
  cursor: pointer;
  align-content: center;
  align-items: center;
  margin-left: 15rem;
}

.sobre__logo {
  font-weight: bold;
  display: flex;
}

.sobre__logo a {
  text-decoration: none;
}

.sobre__logo-image {
  height: 17rem;
  width: auto;
}

.sobre__logo-text {
  color: black;
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin-top: 2.5rem;
  width: 30%;
}

.sobre__logo-text-bws {
  font-size: 5.5rem;
  line-height: 1;
}

.sobre__texto {
  text-indent: 4rem;
  margin-top: 2rem;
  margin-left: 4rem;
  font-size: 1.3rem;
  line-height: 1.6;
  hyphens: auto;
  color: black;
  text-align: left;
  width: 90%;
  text-align: justify;
}

@media (max-width: 768px) {
  .sobre {
    margin-top: 0rem;
  }

  .sobre__content {
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    margin: 1rem;
  }

  .sobre__main {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .sobre__logo-container {
    margin-left: 0;
    display: block;
    margin-bottom: 2rem;
  }

  .sobre__logo {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre__logo-image {
    height: 12rem;
    margin-bottom: 1rem;
  }

  .sobre__logo-text-bws {
    font-size: 2rem;
  }

  .sobre__logo-text {
    font-size: 2rem;
    width: 60%;
    text-align: center;
  }

  .sobre__texto {
    margin-left: 0;
    font-size: 1rem;
    text-align: justify;
  }
}
