<div class="sobre">
    <div class="sobre__content">
        <div class="sobre__main">
            <div class="sobre__logo-container">
                <div class="sobre__logo">
                    <img src="assets/images/bws_logo.png" alt="Logo" class="sobre__logo-image">
                </div>
            </div>
            <p class="sobre__texto">
                Bem-vindo ao espaço perfeito para compartilhar sua história! Neste portal sua empresa pode se destacar, apresentando informações relevantes sobre quem você é, o que oferece, e como faz a diferença. Utilize esta seção para criar um vínculo com seu público, contando sobre sua trajetória, valores e conquistas. Mostre o que torna sua marca única e conquiste a confiança dos seus clientes!
            </p>            
        </div>
</div>