.sobre {
    margin-top: 15rem;
}

.sobre__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.sobre__main {
    text-align: center;
}

.sobre__logo-container {
    display: block;
    cursor: pointer;
    align-content: center;
    align-items: center;
    margin-left: 15rem;
  }
  
  .sobre__logo {
    font-weight: bold;
    display: flex;
  }

  .sobre__logo a {
    text-decoration: none;
  }
  
  .sobre__logo-image {
    background-color: #fff;
    height: 17rem;
    width: auto;
  }
  
  .sobre__logo-text {
    color: black;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    margin-top: 2.5rem;
    width: 30%;
  }
  
  .sobre__logo-text-bws {
    font-size: 5.5rem;
    line-height: 1;
  }

.sobre__texto {
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 1.3rem;
    line-height: 1.6;
    hyphens: auto;
    color: black;
    text-align: left;
    width: 100%;
    text-align: justify;
}

.ad-banner {
    width: 30rem;
    padding: 2rem;
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Courier Prime', monospace;
    margin: 2rem auto;
    border: 2px solid #e0e0e0;
}

.ad-banner__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #d32f2f; /* Vermelho para o título */
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.ad-banner__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #4f4f4f; /* Cor neutra */
}

.ad-banner__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1976d2; /* Azul escuro */
}

.ad-banner__icon {
    font-size: 2rem;
    color: green;
}

.ad-banner__phone {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sobre__adds {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
