<section class="sobre">
  <div class="sobre-wrapper">
    <div class="sobre__main">
      <h2 class="sobre__headline">Boas-vindas ao seu espaço</h2>
      <h3 class="sobre__subtitle">Um portal só seu, para contar suas histórias e se destacar</h3>
      <div class="sobre__logo-container">
        <img src="assets/images/bws_logo.png" alt="Logo" class="sobre__logo-image">
      </div>
      <p class="sobre__texto">
        Boas-vindas! Este é o espaço perfeito para compartilhar sua história! Neste portal sua empresa pode se destacar, 
        apresentando informações relevantes sobre quem você é, o que oferece, e como faz a diferença. 
        Utilize esta seção para criar um vínculo com seu público, contando sobre sua trajetória, valores e conquistas. 
        Mostre o que torna sua marca única e conquiste a confiança dos seus clientes!
      </p>
    </div>
  </div>
</section>
