<div class="grafica">
    <div class="grafica__container">
        <h2 class="grafica__title">Precisando de serviços de Desenvolvimento?</h2>
    </div>
    <div class="grafica__images-container">
        <div class="grafica__overlay-images">
            <a href="https://wa.me/11953468808" target="_blank">
                <img class="grafica__image-bws" src="assets/images/anuncio_bws_1.jpeg" alt="Bossa Web Solutions" />
                <img class="grafica__image" src="assets/images/anuncio_bws_2.jpeg" alt="Bossa Web Solutions" />
            </a>
        </div>
    </div>
</div>