<div class="noticia-categoria">
    <app-adds adPosition="MAIN_TOP"></app-adds>

    <h2  *ngIf="noticiasFiltradas.length > 0; else semNoticias" class="noticia-categoria__title">Notícias sobre {{ getNomeCategoria() }}</h2>

    <div>
        <div class="noticia-categoria__thumbnails">
            <a *ngFor="let noticia of noticiasFiltradas" (click)="goToNoticia(noticia.id)">
                <app-thumbnail-noticia [noticia]="noticia"></app-thumbnail-noticia>
            </a>
        </div>
    </div>

    <ng-template #semNoticias>
        <p class="noticia-categoria__empty_categoria-title">
            Nenhuma notícia encontrada para a categoria {{ getNomeCategoria() }}.
        </p>
    </ng-template>
</div>
<app-spinner [isLoading]="isLoading"></app-spinner>
